<li>
    <%=comment.content%> :: <small><i>
                <%=comment.user.name%>
            </i></small>
        <%if(post.user.id==locals.userId || locals.userId==comment.user.id){ %>
            <a href="/comment/delete/<%=comment.id%>">X</a>
            <%}%>
</li>