<link rel="stylesheet" href="/css/_header.css">
<div id="heading">
    <div id="name">The Social App</div>
    <div id="links">
        <a href="/user/signIn"><button type="button">SignIn</button></a>
        <a href="/user/signUp"><button type="button">SignUp</button></a>
    </div>
</div>