<link rel="stylesheet" href="/css/_header.css">
<div id="heading">
    <div id="name">The Social App</div>
    <%if(locals.name){%>
        <div id="links">
            <p><%=locals.name%></p>
            <a href="/session/Destroy"><button type="button">LogOut</button></a>
        </div>
    <%}else{%>
        <div id="links">
            <a href="/user/signIn"><button type="button">SignIn</button></a>
            <a href="/user/signUp"><button type="button">SignUp</button></a>
        </div>
    <%}%>
</div>
