
<link rel="stylesheet" href="/css/home.css">
<h1> Welcome To Home Page</h1>
<section id="feed-posts">
    <h4>Post : </h4>
    <form action="/post/create" id="new-post-form" method="POST">
        <textarea name="content" cols="50" rows="5" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>
   
