<!DOCTYPE html>
<html>

<head>
    <title>
        <%=locals.title%>
    </title>
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
</head>

<body>
    <h1> Hi This is Home Page</h1>
    <ol>
        <l1>
            <a href="/user/signIn"><button type="submit">Sign In</button></a>
        </l1>
        <l1>
            <a href="/user/signUp"><button type="submit">Sign Up</button></a>
        </l1>
        <l1>
            <a href="/profile"><button type="submit">Profile</button></a>
        </l1>
    </ol>
</body>

</html>