
    <link rel="stylesheet" href="/css/profile.css">

    <h1> Hi This is Profile Page</h1>
    <ol>
        <l1>
            <%=locals.name%>
        </l1>
        <l1>
            <%=locals.email%>
        </l1>
        <l1>
            <a href="/session/destroy"><button type="submit">Sign Out</button></a>
        </l1>
    </ol>
