
<%if(environment=='development' ){%>
    <link rel="stylesheet" href="/css/signIn.css">
    <%}else{%>
        <link rel="stylesheet" type="text/css" href="<%=assetPath('css/signIn.css')%>">
        <%}%>


    <h1>Sign In</h1>
    <form action="/session/create" method="post">
        <label>Email :</label>
        <input type="email" placeholder="Email" name="email" required="true">
        <label>Password :</label>
        <input type="password" placeholder="Password" name="password" required="true">
        <button type="submit">Submit</button>
    </form>
<p>
    <button><a href="/user/auth/google"> Google SignIn/SignUp</a></button>
</p>


