<!DOCTYPE html>
<html>

<head>
    <title>
        <%=locals.title%>
    </title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/signIn.css"> -->
</head>

<body>
    <h1>Sign In</h1>
    <form action="/session/create" method="post">
        <label>Email :</label>
        <input type="email" placeholder="Email" name="email" required="true">
        <label>Password :</label>
        <input type="password" placeholder="Password" name="password" required="true">
        <button type="submit">Submit</button>
    </form>
</body>

</html>