#comments form input{
    width: 250px;
    height: 25px;
    padding: 2px;
    font-family: monospace;
    font-size: 0.8rem;
}
#comments form button{
    height: 40x;
    width: 70px;
    font-family: monospace;
    font-size: 1rem;
}
.post-list{
    max-width: 90%;
    min-width: 600px;
}