#home-container{
    display: flex;
    height: 100%;
    #feed-posts{
        width: 70%;
        padding-top: 20px;
        margin-left: 3%;
    }
    #user-friends{
        width: 30%;
        padding: 20px;
        border-left: 1px solid lightgrey;
       
    }
}