<div>
    <p>Hi <%=comment.user.name%></p>
    <br>
    <br>
    <p> Your comment <strong> <%=comment.content%></strong> just got published.</p>
    <br>
    <p> Thanks</p>
    <br>
    <p>Regards</p>

    <p>BasicSocialMediaApp</p>
</div>